# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Dependencies
node_modules/

# Build output
dist/
build/

# Env
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/dev.db
